# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

pids
*.pid
*.seed
*.pid.lock

node_modules/
.pnp/
.pnp.js

.env
.env.*.local

dist/
build/
.next/
out/
coverage/
public/build/
.vite/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

*.tsbuildinfo

.npm/

.AppleDouble

debug.log

*.log
npm-debug.log*